﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="AddPosition.aspx.cs" Inherits="SSWebsite.Secure.AddPosition" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Synaptein Solutions</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body class="slider" data-spy="scroll" data-target=".navbar" data-offset="">
       <nav class="navbar navbar-light navbar-fixed-top">
        <div class="container-fluid navbar-properties" style="padding-left:120px;padding-right:120px;font-family:'Segoe UI';background-color:white;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="/img/Logo.png" style="width:150px;height:70px;" />
            </div>
            <div class=" font-weight-bold collapse navbar-collapse navbar-right" id="myNavbar" style="color:black;">
                <ul class="navbar navbar-nav" id="navbar-text">
                    <li class="btn dropdown" style="padding:23px;">
                        <strong><a href="/index.html" style="color:black;font-size:1.3em;">Home</a></strong>
                    </li>
                    <li class="btn dropdown" style="padding:23px;">
                        <strong>
                            <a href="/ContactUs.aspx" style="color:black;font-size:1.3em;">
                                Contact Us
                                <span class="caret"></span>
                            </a>
                        </strong>
                        <ul class="dropdown-content list-unstyled text-left list-group" style="color:black;padding:0;">
                            <li class="list-group-item">Certifications</li>
                            <li class="list-group-item">Centers of Excellence</li>
                            <li class="list-group-item">Contract Vehicles</li>
                            <li class="list-group-item">Leadership</li>
                        </ul>
                    </li>
                    <li class="btn dropdown" style="padding:23px;">
                        <strong>
                            <a href="/services.html" style="color:black;font-size:1.3em;">
                                Services
                                <span class="caret"></span>
                            </a>
                        </strong>
                        <ul class="dropdown-content list-unstyled text-left list-group" style="color:black;padding:0;">
                            <li class="list-group-item">Development & Integration</li>
                            <li class="list-group-item">Program & Project Management</li>
                            <li class="list-group-item">>Business Process Consulting</li>
                            <li class="list-group-item">IT Development Support</li>
                            <li class="list-group-item">Business Intelligence and Analytics</li>
                            <li class="list-group-item">JAVA Solutions & Support</li>
                            <li class="list-group-item">Data Management</li>
                            <li class="list-group-item">Information Assurance and Security</li>
                            <li class="list-group-item">Enterprise Risk Management</li>
                        </ul>
                    </li>
                    <li class="btn dropdown" style="padding:23px;">
                        <strong>
                            <a href="/products.html" style="color:black;font-size:1.3em;">
                                Products
                                <span class="caret"></span>
                            </a>
                        </strong>
                        <ul class="dropdown-content list-unstyled text-left list-group" style="color:black;padding:0;">
                            <li class="list-group-item disabled"><strong>Application</strong></li>
                            <li class="list-group-item">Riskspotlight</li>
                            <li class="list-group-item">Apertisoft</li>
                            <li class="list-group-item">ARQ Technology</li>
                            <li class="list-group-item">Purchase Card System</li>
                            <li class="list-group-item disabled"><strong>Mobile</strong></li>
                            <li class="list-group-item">Sitawile</li>
                            <li class="list-group-item">VITwee</li>
                        </ul>
                    </li>
                    <li class="btn dropdown" style="padding:23px;">
                        <strong>
                            <a href="/partners.html" style="color:black;font-size:1.3em;">
                                Partners
                                <span class="caret"></span>
                            </a>
                        </strong>
                        <ul class="dropdown-content list-unstyled text-left list-group" style="color:black;padding:0;">
                            <li class="list-group-item">Microsoft</li>
                            <li class="list-group-item">Redhat</li>
                            <li class="list-group-item">Dell Boomi</li>
                            <li class="list-group-item">rPM3</li>
                            <li class="list-group-item">Riskspotlight</li>
                        </ul>
                    </li>
                    <li class="btn dropdown" style="padding:23px;">
                        <strong>
                            <a href="/Career.aspx" style="color:black;font-size:1.3em;">
                                Careers
                                <span class="caret"></span>
                            </a>
                        </strong>
                        <ul class="dropdown-content list-unstyled text-left list-group" style="color:black;padding:0;">
                            <li class="list-group-item"><a href="/Career.aspx">Current Opening</a></li>
                            <li class="list-group-item"><a href="#">Search Jobs</a></li>
                        </ul>
                    </li>
                    <li class="btn dropdown" style="padding:23px;color:black;font-size:1.3em;">
                        <strong>
                            Login
                            <span class="caret"></span>
                        </strong>
                        <ul class="dropdown-content list-unstyled text-left list-group" style="color:black;padding:0;">
                            <li class="list-group-item"><a href="/Login.aspx">HR Login</a></li>
                            <li class="list-group-item"><a href="https://my.adp.com/static/redbox/login.html" target="_blank">Employee Login</a></li>
                            <li class="list-group-item"><a href="http://www.riskspotlightportal.com/Home/Index" target="_blank">RiskSpotLight Login</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav> 



    <section>
        <form runat="server" name="addPosition">
            <br /><br /><br /><br />
            <h3 class="text-center text_part2">Add a Position</h3>
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="jobid">Job Id:</label>
                    <asp:TextBox ID="jobid" runat="server" class="form-control" name="jobid"></asp:TextBox>
                </div>
                <div class="form-group">
                    <label for="jobtitle">Job Title:</label>
                    <asp:TextBox ID="jobtitle" runat="server" class="form-control" name="jobtitle"></asp:TextBox>
                </div>
                <div class="form-group">
                    <label for="Location">Location:</label>
                    <asp:TextBox ID="location" runat="server" class="form-control" name="location"></asp:TextBox>
                </div>
                <div class="form-group">
                    <label for="Summary">Summary:</label>
                    <asp:TextBox ID="summary" runat="server" class="form-control" rows="5" name="Summary" TextMode="MultiLine"></asp:TextBox>
                </div>
                <div class="form-group">
                    <label for="Responsibilities">Responsibilities:</label>
                    <asp:TextBox ID="responsibilities" runat="server" rows="12" class="form-control" name="responsibility1" TextMode="MultiLine"></asp:TextBox>
                </div>
                <div class="form-group">
                    <label for="requiredskills">Required Skills:</label>
                    <asp:TextBox ID="requiredskills" runat="server" class="form-control" rows="5" name="requiredskills" TextMode="MultiLine"></asp:TextBox>
                </div>
                <asp:Button ID="submit" runat="server" Text="Save" class="btn btn-primary btn-lg" OnClick="submit_Click" />
                <asp:Label ID="lblMessage" runat="server" class="text-primary"></asp:Label>
                <br /><br /><br />
            </div>
            <div class="col-md-2"></div>
        </form>
    </section>

    <div id="footer">
        <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-8 col-sm-6 col-xs-6 footer-custom">Copyrights©Synaptein Solutions 2015.All rights reserved</div>
                <div class="col-md-4 col-sm-6 text-right left-wrapper">
                    <!--      <div class="col-md-6 hidden-sm hidden-xs"> &nbsp;</div>-->

                    <a href="#"><img src="img/facebook.png" /> </a> <a href="#"><img src="img/twitter.png" /> </a> <a href="#"><img src="img/linkedin.png" /> </a>
                </div>
            </div>
        </div>
    </div>




</body>
</html>
